input[type="text"],
input[type="number"] {
  width: 100%;
  padding: .5rem .75rem;
  background-color: var(--bsl-input-backgroundColor);
  border: 1px solid var(--bsl-input-borderColor);
  border-radius: 6px;
  color: var(--bsl-textColor);
  font: var(--bsl-font-sm);
  line-height: var(--bsl-line-height-sm);

  &:disabled {
    opacity: .65;
    cursor: not-allowed;
    pointer-events: none;
  }

  &::placeholder {
    color: var(--bsl-input-textColor-placeholder);
  }
}

/* Remove arrows Chrome */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
