.ngx-bsl-list-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 4px;
    border: 1px solid var(--bsl-list-box-borderColor);
    border-radius: 6px;
    background-color: var(--bsl-list-box-backgroundColor);
    overflow: hidden;
}
