:host {
    display: flex;
    flex-direction: column;
}

.header {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--bsl-backgroundColor-muted);

    > * {
        text-align: center;
    }

    h1 {
        font: var(--bsl-font-5xl);
    }

    p {
        font: var(--bsl-font-xl);
    }

    a {
        align-self: center;
        padding: .5rem 1rem;
        font: var(--bsl-font-xl);
        color: var(--bsl-color-neutral-100);
        text-decoration: none;
        border-radius: 6px;
        background-color: var(--bsl-color-neutral-500);

        &:hover {
            background-color: var(--bsl-color-neutral-600);
        }

        &:active {
            background-color: var(--bsl-color-neutral-700);
        }
    }
}

.features {
    padding: 2rem;

    h2 {
        margin-bottom: 1rem;
    }
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 40px;
}

.feature-card {
    padding: 40px 32px;
    border-radius: 16px;
    background: var(--bsl-backgroundColor-muted);
    color: var(--bsl-textColor);

    h3 {
        margin-bottom: 16px;
    }

    p {
        color: var(--bsl-textColor-muted);
    }
}
