:host {
    height: 100%;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr auto;
}

header {
    padding: 1rem;
    grid-column: span 2;
    border-bottom: 1px solid var(--bsl-borderColor);
}

nav {
    padding: 1rem;
    grid-column: 1 / 2;
    border-right: 1px solid var(--bsl-borderColor);
}

main {
    grid-column: span 2;
}

footer {
    padding: 1rem;
    grid-column: span 2;
    border-top: 1px solid var(--bsl-borderColor);
}

@media (min-width: 960px) {
    main {
        grid-column: 2/2;
    }
}
