@use '../../ngx-bsl/src/styles/index';
@use './styles/colors';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
}

html, body {
    height: 100%;
    background-color: var(--bsl-backgroundColor);
    color: var(--bsl-textColor);
}

body {
    @include index.light-theme;

    &.dark-theme {
        @include index.dark-theme;
    }
}

*:focus-visible {
    outline: 2px solid var(--bsl-color-violet-500);
}

bsa-root {
    isolation: isolate;
}
