@mixin dark-theme {
  --bsl-backgroundColor: var(--bsl-color-neutral-950);
  --bsl-backgroundColor-muted: var(--bsl-color-neutral-900);
  --bsl-backgroundColor-emphasis: var(--bsl-color-neutral-800);

  --bsl-textColor: var(--bsl-color-neutral-200);
  --bsl-textColor-muted: var(--bsl-color-neutral-300);

  --bsl-borderColor: var(--bsl-color-neutral-800);
  --bsl-borderColor-muted: var(--bsl-color-neutral-700);
  --bsl-borderColor-emphasis: var(--bsl-color-neutral-600);

  --bsl-button-backgroundColor: var(--bsl-color-neutral-950);
  --bsl-button-backgroundColor-hover: var(--bsl-color-neutral-900);
  --bsl-button-backgroundColor-active: var(--bsl-color-neutral-800);
  --bsl-button-borderColor: var(--bsl-color-neutral-700);
  --bsl-button-textColor: var(--textColor);

  --bsl-input-backgroundColor: var(--bsl-color-neutral-900);
  --bsl-input-borderColor: var(--bsl-color-neutral-800);
  --bsl-input-textColor: var(--textColor);
  --bsl-input-textColor-placeholder: var(--bsl-color-neutral-400);

  --bsl-checkbox-backgroundColor: var(--bsl-color-neutral-900);
  --bsl-checkbox-borderColor: var(--bsl-color-neutral-800);
  --bsl-checkbox-borderColor-hover: var(--bsl-color-neutral-700);
  --bsl-checkbox-backgroundColor-checked: var(--bsl-color-neutral-700);
  --bsl-checkbox-backgroundColor-checked-hover: var(--bsl-color-neutral-600);
  --bsl-checkbox-iconColor: var(--bsl-color-neutral-200)
}
