@mixin light-theme {
    --bsl-backgroundColor: var(--bsl-color-neutral-50);
    --bsl-backgroundColor-muted: var(--bsl-color-neutral-100);
    --bsl-backgroundColor-emphasis: var(--bsl-color-neutral-200);

    --bsl-textColor: var(--bsl-color-neutral-900);
    --bsl-textColor-muted: var(--bsl-color-neutral-800);

    --bsl-borderColor: var(--bsl-color-neutral-200);
    --bsl-borderColor-muted: var(--bsl-color-neutral-300);
    --bsl-borderColor-emphasis: var(--bsl-color-neutral-400);

    --bsl-button-backgroundColor: var(--bsl-color-neutral-50);
    --bsl-button-backgroundColor-hover: var(--bsl-color-neutral-100);
    --bsl-button-backgroundColor-active: var(--bsl-color-neutral-200);
    --bsl-button-borderColor: var(--bsl-color-neutral-300);
    --bsl-button-textColor: var(--bsl-textColor);

    --bsl-input-backgroundColor: var(--bsl-color-neutral-100);
    --bsl-input-borderColor: var(--bsl-color-neutral-300);
    --bsl-input-textColor: var(--bsl-textColor);
    --bsl-input-textColor-placeholder: var(--bsl-color-neutral-400);

    --bsl-checkbox-backgroundColor: var(--bsl-color-neutral-100);
    --bsl-checkbox-borderColor: var(--bsl-color-neutral-300);
    --bsl-checkbox-borderColor-hover: var(--bsl-color-neutral-400);
    --bsl-checkbox-textColor: var(--bsl-textColor);

    --bsl-list-box-backgroundColor: var(--bsl-color-neutral-50);
    --bsl-list-box-backgroundColor-hover: var(--bsl-color-neutral-200);
    --bsl-list-box-borderColor: var(--bsl-color-neutral-300);

    --bsl-range-rail-backgroundColor: var(--bsl-color-neutral-200);
    --bsl-range-tracker-backgroundColor: var(--bsl-color-neutral-400);
    --bsl-range-thumb-backgroundColor: var(--bsl-color-neutral-800);

    --bsl-tooltip-backgroundColor: var(--bsl-color-neutral-800);
    --bsl-tooltip-textColor: var(--bsl-color-neutral-200);
}
