/* You can add global styles to this file, and also import other style files */
@use '../../ngx-bsl/src/styles/index';

body {
    background-color: var(--bsl-backgroundColor);
    @include index.dark-theme;
}


