:root {
    --bsl-color-violet-50: oklch(96.9% .016 293.756);
    --bsl-color-violet-100: oklch(94.3% .029 294.588);
    --bsl-color-violet-200: oklch(89.4% .057 293.283);
    --bsl-color-violet-300: oklch(81.1% .111 293.571);
    --bsl-color-violet-400: oklch(70.2% .183 293.541);
    --bsl-color-violet-500: oklch(60.6% .25 292.717);
    --bsl-color-violet-600: oklch(54.1% .281 293.009);
    --bsl-color-violet-700: oklch(49.1% .27 292.581);
    --bsl-color-violet-800: oklch(43.2% .232 292.759);
    --bsl-color-violet-900: oklch(38% .189 293.745);
    --bsl-color-violet-950: oklch(28.3% .141 291.089);
}
